@import "tailwindcss";

@font-face {
  font-family: "Lingkawi-South";
  src: url("/fonts/Lingkawi-South.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-lingkawi: "Lingkawi-South", ui-sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-bricolage: "Bricolage Grotesque", ui-sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
